#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>

/* On redéfinit RC pour la matrice */
#undef RC
#define RC(row, col) (((row) << 8) | (col))

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <8>;
        columns = <6>; 
        map = <
            RC(9,17) RC(9,20) RC(9,19) RC(9,14) RC(9,13) RC(9,12) RC(9,11) RC(9,10) 
            RC(8,17) RC(8,20) RC(8,19) RC(8,14) RC(8,13) RC(8,12) RC(8,11) RC(8,10)
            RC(7,17) RC(7,20) RC(7,19) RC(7,14) RC(7,13) RC(7,12) RC(7,11) RC(7,10)

            RC(6,17) RC(6,20) RC(6,19) RC(6,14) RC(6,13) RC(6,12) RC(6,11) RC(6,10)
            RC(5,17) RC(5,20) RC(5,19) RC(5,14) RC(5,13) RC(5,12) RC(5,11) RC(5,10)
            RC(2,17) RC(2,20) RC(2,19) RC(2,14) RC(2,13) RC(2,12) RC(2,11) RC(2,10)
        >;
    };

    /* C'est ici que l'erreur se produisait souvent */
    kscan0: kscan_node {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row"; // Essaie d'abord comme ça, si ça spam encore, mets "row2col"
        
        row-gpios
            = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        col-gpios
            = <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>
            , <&pro_micro 21 GPIO_ACTIVE_HIGH>
            ;
    };
};