#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp BACKSPACE    &kp N0    &kp N     &kp R     &kp D    &kp N0    &kp C     &kp V
                &mo 1            &kp N0    &kp A     &kp I     &kp U    &kp N0    &kp O     &kp P
                &kp SPACE        &kp N0    &kp E     &kp S     &kp T    &kp N0    &kp L     &kp M

                &kp N1   &kp N0   &kp N8     &kp N9     &kp Z    &kp N0   &kp J     &kp B
                &kp N2   &kp N0   &kp N7     &kp K      &kp Y    &kp N0   &kp H     &kp F
                &kp N3   &kp N0   &kp N6     &kp W     &kp X    &kp N0   &kp G      &kp Q
            >;
        };

        bt_layer {
            bindings = <
                &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans   &trans   &trans    &trans
                &trans        &trans        &trans        &trans        &trans   &trans   &trans    &trans
                &trans        &trans        &trans        &trans        &trans   &trans   &trans    &trans
                &trans        &trans        &trans        &trans        &trans   &trans   &trans    &trans
                &trans        &trans        &trans        &trans        &trans   &trans   &trans    &trans
                &trans        &trans        &trans        &trans        &trans   &trans   &trans    &trans
            >;
        };
    };
};
